@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p, button, input, textarea {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8; }
  p:focus, button:focus, input:focus, textarea:focus {
    outline: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    color: #DDDDDD; }
  a:active {
    color: #00AACC; }

button, input[type=submit] {
  background-color: #3f3f3f;
  color: #ffffff;
  border: 0;
  padding: 1% 2%;
  cursor: pointer; }

button:hover, input[type=submit]:hover {
  background-color: #777777;
  transition: 0.5s background-color; }

fieldset {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 50em) {
    fieldset {
      margin: 1rem 0; } }
  fieldset .field {
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 50em) {
      fieldset .field {
        display: block;
        padding: 1.5rem 0; } }
    @media only screen and (min-width: 50em) {
      fieldset .field label {
        display: block;
        float: left;
        width: 10%;
        margin-right: 5%; } }
    fieldset .field div {
      width: 100%; }
      @media only screen and (min-width: 50em) {
        fieldset .field div {
          display: block;
          float: left;
          width: 85%; } }
      fieldset .field div input[type=text], fieldset .field div textarea {
        width: 100%; }
  fieldset input[type=submit] {
    float: right; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0; }

.ubercontainer {
  min-height: 100%;
  position: relative; }

main {
  padding-bottom: 5rem; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

.hidden-de {
  display: block; }

@media only screen and (min-width: 50em) {
  .container {
    width: 80%; }
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; }
  .hidden-de {
    display: none; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 100%;
    max-width: 60rem; } }

.clear {
  clear: both; }

.clearright {
  clear: right; }

.clearleft {
  clear: left; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p, button, input, textarea {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8; }
  p:focus, button:focus, input:focus, textarea:focus {
    outline: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    color: #DDDDDD; }
  a:active {
    color: #00AACC; }

button, input[type=submit] {
  background-color: #3f3f3f;
  color: #ffffff;
  border: 0;
  padding: 1% 2%;
  cursor: pointer; }

button:hover, input[type=submit]:hover {
  background-color: #777777;
  transition: 0.5s background-color; }

fieldset {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 50em) {
    fieldset {
      margin: 1rem 0; } }
  fieldset .field {
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 50em) {
      fieldset .field {
        display: block;
        padding: 1.5rem 0; } }
    @media only screen and (min-width: 50em) {
      fieldset .field label {
        display: block;
        float: left;
        width: 10%;
        margin-right: 5%; } }
    fieldset .field div {
      width: 100%; }
      @media only screen and (min-width: 50em) {
        fieldset .field div {
          display: block;
          float: left;
          width: 85%; } }
      fieldset .field div input[type=text], fieldset .field div textarea {
        width: 100%; }
  fieldset input[type=submit] {
    float: right; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0; }

.ubercontainer {
  min-height: 100%;
  position: relative; }

main {
  padding-bottom: 5rem; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

.hidden-de {
  display: block; }

@media only screen and (min-width: 50em) {
  .container {
    width: 80%; }
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; }
  .hidden-de {
    display: none; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 100%;
    max-width: 60rem; } }

.clear {
  clear: both; }

.clearright {
  clear: right; }

.clearleft {
  clear: left; }

header h1 {
  margin-bottom: 0;
  margin-top: 2rem; }

header img {
  height: 6rem;
  margin-top: 2rem; }

header ul {
  display: block;
  list-style-type: none;
  padding-left: 0; }
  header ul li {
    display: inline-block;
    margin-left: 0.2rem;
    padding-left: 0.2rem;
    border-left: 1px solid #DDDDDD; }
    @media only screen and (min-width: 45em) {
      header ul li {
        margin-left: 0.5rem;
        padding-left: 0.5rem; } }
    @media only screen and (min-width: 60em) {
      header ul li {
        margin-left: 1rem;
        padding-left: 1rem; } }
    header ul li:first-of-type {
      border-left: 0; }

header .linecontainer {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 45em) {
    header .linecontainer {
      width: 85%;
      max-width: 60rem;
      margin: 0 auto;
      margin-bottom: 2rem; } }

header .line {
  margin-top: 1rem;
  display: block;
  float: left;
  width: 25%; }

header .orangeline {
  border-bottom: 1px solid #EE9900; }
  @media only screen and (min-width: 50em) {
    header .orangeline {
      border-bottom: 4px solid #EE9900; } }

header .blueline {
  border-bottom: 1px solid #00AACC; }
  @media only screen and (min-width: 50em) {
    header .blueline {
      border-bottom: 4px solid #00AACC; } }

header .magentaline {
  border-bottom: 1px solid #CC0077; }
  @media only screen and (min-width: 50em) {
    header .magentaline {
      border-bottom: 4px solid #CC0077; } }

header .greenline {
  border-bottom: 1px solid #BBCC00; }
  @media only screen and (min-width: 50em) {
    header .greenline {
      border-bottom: 4px solid #BBCC00; } }

.breadcrumb {
  display: block;
  float: left;
  padding-right: 5px;
  margin-bottom: 0;
  margin-top: 10px; }
  .breadcrumb:after {
    content: ' \f105';
    font-family: FontAwesome;
    padding-left: 5px; }
  .breadcrumb:last-of-type {
    color: #00AACC; }
    .breadcrumb:last-of-type a {
      color: #00AACC;
      pointer-events: none;
      cursor: default; }
    .breadcrumb:last-of-type:after {
      content: ''; }
  .breadcrumb a:hover {
    color: inherit; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p, button, input, textarea {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8; }
  p:focus, button:focus, input:focus, textarea:focus {
    outline: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    color: #DDDDDD; }
  a:active {
    color: #00AACC; }

button, input[type=submit] {
  background-color: #3f3f3f;
  color: #ffffff;
  border: 0;
  padding: 1% 2%;
  cursor: pointer; }

button:hover, input[type=submit]:hover {
  background-color: #777777;
  transition: 0.5s background-color; }

fieldset {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 50em) {
    fieldset {
      margin: 1rem 0; } }
  fieldset .field {
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 50em) {
      fieldset .field {
        display: block;
        padding: 1.5rem 0; } }
    @media only screen and (min-width: 50em) {
      fieldset .field label {
        display: block;
        float: left;
        width: 10%;
        margin-right: 5%; } }
    fieldset .field div {
      width: 100%; }
      @media only screen and (min-width: 50em) {
        fieldset .field div {
          display: block;
          float: left;
          width: 85%; } }
      fieldset .field div input[type=text], fieldset .field div textarea {
        width: 100%; }
  fieldset input[type=submit] {
    float: right; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0; }

.ubercontainer {
  min-height: 100%;
  position: relative; }

main {
  padding-bottom: 5rem; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

.hidden-de {
  display: block; }

@media only screen and (min-width: 50em) {
  .container {
    width: 80%; }
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; }
  .hidden-de {
    display: none; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 100%;
    max-width: 60rem; } }

.clear {
  clear: both; }

.clearright {
  clear: right; }

.clearleft {
  clear: left; }

footer {
  background-color: #3f3f3f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin-top: 2rem; }
  footer p {
    color: #ffffff; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p, button, input, textarea {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8; }
  p:focus, button:focus, input:focus, textarea:focus {
    outline: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    color: #DDDDDD; }
  a:active {
    color: #00AACC; }

button, input[type=submit] {
  background-color: #3f3f3f;
  color: #ffffff;
  border: 0;
  padding: 1% 2%;
  cursor: pointer; }

button:hover, input[type=submit]:hover {
  background-color: #777777;
  transition: 0.5s background-color; }

fieldset {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 50em) {
    fieldset {
      margin: 1rem 0; } }
  fieldset .field {
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 50em) {
      fieldset .field {
        display: block;
        padding: 1.5rem 0; } }
    @media only screen and (min-width: 50em) {
      fieldset .field label {
        display: block;
        float: left;
        width: 10%;
        margin-right: 5%; } }
    fieldset .field div {
      width: 100%; }
      @media only screen and (min-width: 50em) {
        fieldset .field div {
          display: block;
          float: left;
          width: 85%; } }
      fieldset .field div input[type=text], fieldset .field div textarea {
        width: 100%; }
  fieldset input[type=submit] {
    float: right; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0; }

.ubercontainer {
  min-height: 100%;
  position: relative; }

main {
  padding-bottom: 5rem; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

.hidden-de {
  display: block; }

@media only screen and (min-width: 50em) {
  .container {
    width: 80%; }
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; }
  .hidden-de {
    display: none; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 100%;
    max-width: 60rem; } }

.clear {
  clear: both; }

.clearright {
  clear: right; }

.clearleft {
  clear: left; }

#hamburgercontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  background-color: #00AACC; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p, button, input, textarea {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8; }
  p:focus, button:focus, input:focus, textarea:focus {
    outline: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    color: #DDDDDD; }
  a:active {
    color: #00AACC; }

button, input[type=submit] {
  background-color: #3f3f3f;
  color: #ffffff;
  border: 0;
  padding: 1% 2%;
  cursor: pointer; }

button:hover, input[type=submit]:hover {
  background-color: #777777;
  transition: 0.5s background-color; }

fieldset {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 50em) {
    fieldset {
      margin: 1rem 0; } }
  fieldset .field {
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 50em) {
      fieldset .field {
        display: block;
        padding: 1.5rem 0; } }
    @media only screen and (min-width: 50em) {
      fieldset .field label {
        display: block;
        float: left;
        width: 10%;
        margin-right: 5%; } }
    fieldset .field div {
      width: 100%; }
      @media only screen and (min-width: 50em) {
        fieldset .field div {
          display: block;
          float: left;
          width: 85%; } }
      fieldset .field div input[type=text], fieldset .field div textarea {
        width: 100%; }
  fieldset input[type=submit] {
    float: right; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0; }

.ubercontainer {
  min-height: 100%;
  position: relative; }

main {
  padding-bottom: 5rem; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

.hidden-de {
  display: block; }

@media only screen and (min-width: 50em) {
  .container {
    width: 80%; }
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; }
  .hidden-de {
    display: none; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 100%;
    max-width: 60rem; } }

.clear {
  clear: both; }

.clearright {
  clear: right; }

.clearleft {
  clear: left; }

#search-container {
  text-align: right; }

.form-group input[type=text] {
  display: block;
  float: left;
  width: 65%;
  margin: 0;
  padding: 0.8% 1%; }

.form-group button {
  display: block;
  float: left;
  width: 35%; }

.collectioncard {
  margin-top: 2rem; }
  .collectioncard h2 {
    margin: 0; }
  .collectioncard .card_text {
    margin-right: 0; }

.collection-item {
  display: block;
  float: left;
  margin: 0;
  margin-right: 2%; }
  .collection-item img {
    width: 100%; }
