@import 'base';


.featured {
  img{
    margin-bottom: 10px;
  }
  p{
    margin-top: 0;
    margin-bottom: 10px;
    a{
      color:$backgrey;
    }
  }
  .item-description{
    display:none;
  }
}
