.collectioncard{
  margin-top: 2rem;
  h2{
    margin: 0;
  }
  p{}
  .card_text{
    margin-right: 0;
  }
}

.collection-item{
  display: block;
  float: left;
  margin: 0;
  margin-right: 2%;
  img{
    width: 100%;
  }
}
